<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<div class="container form-group">
    <form action="add_deadline" method="post">
        <div>
            <label for="deadline-name">Insert name of deadline</label>
            <input class="form-control" type="text" id="deadline-name" name="deadline-name">
        </div>

        <br>

        <div>
            <label for="deadline-time">Select deadline time:</label>
            <input class="form-control" type="datetime-local" id="deadline-time"
                   name="deadline-time" max="9999-12-31T23:59">
        </div>

        <div>
            <button type="submit" class="btn btn-success">Add deadline!</button>
        </div>

    </form>
</div>