<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<div class="container">
    <form action="add_deadline" method="get">
        <button type="submit" class="btn btn-success">Add new deadline!</button>
    </form>

    {% for item in event_list %}
    <div class="container">
        <div class="row justify-content-start">
            <span> {{ item.name }} expires in {{ (datetime_now - item.deadline)|humanize_naturaltime() }} (deadline: {{ item.deadline }}) </span>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div class="col-sm">
                    <form action="delete_deadline/{{ item.id }}" method="post">
                        <button type="submit" class="btn btn-warning">delete deadline</button>
                    </form>
                </div>
                <div class="col-sm">
                    <form action="download_ics_file/{{ item.id }}" method="get">
                        <button type="submit" class="btn btn-success">download ics</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>